@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.warn{
  font-weight: bold;
  justify-content: centre;
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
}

